
/*.module {
    height:50px;
    background-color:#CCC;
    margin:5px;
    
}*/ body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:#fff;
}

.opaque {
    visibility:hidden
    
}

.loader {
    background: url(/images/loader.gif) no-repeat center center; 
    
} 

/*.hide {
    display:none;
    
}*/

h1 {
    font-size:3em;
    
}

img {
    max-width:100%;
    max-height:100%;
    height:auto;
}