

[class*='g-']{
    width:100%;
    /*float:left;
    /*overflow:auto;*/
                        /*box-sizing: border-box;*/
 
}

body {
    padding: 5px;
    }
    

.flex, label, .t-h, .m-h {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.f1 {
    flex: 1;
}

.f2 {
    flex: 2;
}

.f3 {
    flex: 3;
}

@media only screen and (min-width : 320px){


    .g-1-6{width:16.66666666666667%}
    .g-2-6{width:33.33333333333333%}
    .g-3-6{width:50%}
    .g-4-6{width:66.66666666666667%}
    .g-5-6{width:83.33333333333333%}
    .g-6-6{width:100%}
    
    .gl-1-6{margin-left:16.66666666666667%}
    .gl-2-6{margin-left:33.33333333333333%}
    .gl-3-6{margin-left:50%}
    .gl-4-6{margin-left:66.66666666666667%}
    .gl-5-6{margin-left:83.33333333333333%}
    .gl-6-6{margin-left:100%}
    
    .g-6-hd {
        display:none;
    }

}

@media only screen and (min-width : 1024px){


    .g-1-18{width:5.55555555555556%}
    .g-2-18{width:11.11111111111111%}
    .g-3-18{width:16.66666666666667%}
    .g-4-18{width:22.22222222222222%}
    .g-5-18{width:27.77777777777778%}
    .g-6-18{width:33.33333333333333%}
    .g-7-18{width:38888888888888889%}
    .g-8-18{width:44.44444444444444%}
    .g-9-18{width:50%}
    .g-10-18{width:55.55555555555556%}
    .g-11-18{width:61.11111111111111%}
    .g-12-18{width:66.66666666666667%}
    .g-13-18{width:72.22222222222222%}
    .g-14-18{width:77.77777777777778%}
    .g-15-18{width:83.33333333333333%}
    .g-16-18{width:88.88888888888889%}
    .g-17-18{width:94.44444444444444%}
    .g-18-18{width:100%}
    
    .gl-1-18{margin-left:5.55555555555556%}
    .gl-2-18{margin-left:11.11111111111111%}
    .gl-3-18{margin-left:16.66666666666667%}
    .gl-4-18{margin-left:22.22222222222222%}
    .gl-5-18{margin-left:27.77777777777778%}
    .gl-6-18{margin-left:33.33333333333333%}
    .gl-7-18{margin-left:38888888888888889%}
    .gl-8-18{margin-left:44.44444444444444%}
    .gl-9-18{margin-left:50%}
    .gl-10-18{margin-left:55.55555555555556%}
    .gl-11-18{margin-left:61.11111111111111%}
    .gl-12-18{margin-left:66.66666666666667%}
    .gl-13-18{margin-left:72.22222222222222%}
    .gl-14-18{margin-left:77.77777777777778%}
    .gl-15-18{margin-left:83.33333333333333%}
    .gl-16-18{margin-left:88.88888888888889%}
    .gl-17-18{margin-left:94.44444444444444%}
    .gl-18-18{margin-left:100%}
    
    .g-18-hd {
        display:none;
    }
    
     body {
    padding: 50px;
    }
    
    
/*some quick test comment*/

}
