/*editor CSS*/ 

/*
grid:       g-
holder:     h-
borders:    b-
tab:        t-
    tab-link        t-a
    tab-holder      t-h
    tab-content     t-c
    tab-selected    t-s
icon:       i
loader      lFvalidati
hidden      hd

*/


body {
    overflow-x:hidden;
}

.scrollBox{
    overflow-y:auto;
    overflow-x:auto;
    white-space: pre-wrap; 
}

.pointer{
    cursor:pointer;
}

#console>.scrollBox {
    background-color:black;
    color:green;
    padding:1em;
    font-size:0.8em;
    
}

.icon {
    min-width: 2em;
    font-size: 0.4em;
    height:100%;
    position:absolute;
    right:0;
    top:0;
}
button.close, button.close:hover, button.close:focus, button.close:focus:hover {
    border:none;
    background-color:transparent;
}
/* dropdown is zerod height and placed above where it should be so it can be slotted into a gap above using a margin or spacer, that way it can seem to float with the other items but not */

.dropdown {
    position: relative;/*
    display: inline-block;
    overflow:visible;
    clear: both;
    /*top:-3.65em;
    height:0;*/
}

div.dropdown-Below {
    top:0;
}

.dropdownLabel {
    float:none;
}

.dropdownContent {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;*/
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
    z-index: 1;
    top:3.5em;

}
.dropdownInnerContent, .box, fieldset {
    border-style:solid;
    border-color:#095980;
    border-width:1em;
    padding:1em;
    background-color:#FFF;
    /*overflow:auto;*/
}


.ux-accordianLabel {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    width:100%;
}

.ux-accordianContent {
    display: none;
    opacity: 0;
    padding: 0.1em;
    z-index:9999;
}


.ux-accordianSelected + .ux-accordianContent {
    opacity: 1; 
    display: block;
    border-color:#095980;
    border-width:1em;
    padding:1em;

}

div .ux-boxed {
    border-color:#095980;
    border-width:1em;
    padding:1em;
    overflow:hidden;
}



/* global reset to border-box*/
html {
  box-sizing: border-box; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* start of theme CSS */

/* holder boxes */

/* Standard */

a:focus {
    color: #00B7FF;
} 

.h{
     position:relative;
    /*height:3.5em;*/
    /*float:left;
    position:relative;
    /*background-color:#FFF;*/
    /*border:1px solid white;
    /*box-sizing: border-box;*/
}


/* hidden from view */

.t-c, .hd, [class*='hd-'] {
    display:none;
    opacity:0;
    position:relative;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
    height: 3.5em;
    line-height: 3.5em;
    border: 0.15em solid white;
}

tr {
    border-top:none;
}

th:first-child, td:first-child {
    border-left:none;
}

th:last-child, td:last-child {
    border-right:none;
}


tr:nth-child(even){background-color: #f0f0f0}
tr:nth-child(odd){background-color: #fbfbfb}

th {
    background-color: #118ac5;
    color: white;
    font-weight: bold;
}


/* UI objects */

select:disabled, option:disabled, button:disabled, input:disabled, textarea:disabled {
    opacity:0.5;
  /*  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
    position:relative; */
    
}

option:disabled {
    color: lightgrey;
}

select, input[type=password], input[type=text], input[type=button], input[type=text], input[type=number], button, .ux, .ux-no-h, .ux-h, .t-a, .t-button, .m-a, .ux-label, .ux-details, .ux-form-validate-rules {
    /*color:black;*/
    text-decoration:none;
    /*background-color:#E5EEF3;*/
    
    /*width:100%;
    float:left;*/
    /*line-height:3.1em;*/
    line-height: 2.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /*border: 0;*/
    border-style:none;
    border-radius: 0;
    /*height: 100%;*/
    text-align:center;
    appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*overflow:hidden;
    /*display: inline-block;
    vertical-align:middle;*/
}

select, input[type=password], input[type=text], input[type=button], input[type=text], input[type=number], button, .ux-h, .ux-no-h, .t-a, .t-button, .m-a, textarea   {
    cursor:pointer;
}

button {
    overflow:hidden;
    min-width:2.5em;
}

select::before, 
button::before, 
/*.ux::before, [class*='ux-']::before, */
.t-a::before, .m-a::before, .t-button::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  overflow:hidden;
  /*margin-right: -0.25em; /* Adjusts for spacing */
}

.t-autoWidth, .m-autoWidth {
    padding-left:1em;
    padding-right:1em;
}
/*.ux-ch {
    line-height:4.5em;
}*/




input[type=checkbox] {
    opacity:0;
    position:absolute;
    left:0;
    top:0;
    height:100%;
}

input[type="checkbox"] ~ .checkimg {
    /*background-position: -25px 0;*/
    width:2em;
    height:2em;
    margin:auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position:absolute;
}

input[type="checkbox"] ~ .checkbg {
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position:absolute;
}

textarea {
  resize: none;
  display:block; /* fixes the default display:inline setting in Chrome and FF*/
  /*height:7em;
  max-height:7em;*/
  line-height:1em;
  text-align:left;
  overflow-y: scroll;
  padding:1em;
}
/* 

*******************************

Colour Styling 

*******************************

*/


.ux-h:hover, input[type="checkbox"] ~ .checkbg, select, input[type=password], input[type=text], input[type=button], input[type=text], input[type=number], button:hover, .ux, [class*='ux-'], textarea
{
    background-color:#FFF;
    color:#095980;
    border-color:#118AC5;
    border-width:0.2em;
    border-style:solid;
    
}

option {
    background-color: #FFF;
    color:#095980;
}

.ux-h, .ux-no-h, button/*, /*input[type="password"]:hover/*, .ux:hover*/
{
    background-color:#118AC5;
    color:#FFF;
    overflow:hidden;
}

.ux-label, .t-a, .m-a, .t-button {
    background-color:#D8D8D8;
}
.ux-label, .ux-details{
    border-color:#D8D8D8;
    color:#000;
    }

.ux-h:focus:hover, .ux:focus:hover, button:focus:hover  {
    background-color:#FFF;
    border-color:#095980;
    color:#095980;
}

.ux-text:focus, .ux-text:hover/*, textarea:focus, input:focus, textarea:hover, input[type="text"]:hover */{
    border-style:dashed;
}
/*
form .ux-form-validate {
    border-color:red;
}
form .ux-form-validate-rules {
    
    border-color: #FFF;
    color: #FFF;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width: 0.16em;
    padding: 0;

    
}

form .form-validate-rules-container {
    border-width: 0;
    position:relative;
}

form .ux-form-validate-info, form .ux-form-validate-info:hover {

    border-color:red;
    background-color:red;
    color: #FFF;
}

form .ux-form-validate-rules-text {
        padding: 0.55em;
        border-color: red;
}

form .ux-form-validate-rules-text::before {
    content: none;
}*/

.t-s, .t-button, .m-s, .t-b, .t-a:hover, .m-a:hover, .ux-h:focus, .ux:focus, .ux-accordianSelected, .ux-accordianSelected:hover, .ux-accordianSelected:focus:hover,button:focus, select:hover, input[type="checkbox"]:hover, input[type="checkbox"]:hover~.checkbg, select:focus, input[type="checkbox"]:focus~.checkbg, .dropdownDown>button, .dropdownDown>button:hover, .dropdownDown>button:focus, .dropdownDown>button:focus:hover {
    border-color:#095980;
    color:#FFF;
    background-color:#095980;
    /*border-width:2px;
    /*border-style:dashed;
    /*background-color:#FFF;
    /*
    -moz-box-shadow:    inset 0 0 5px #118AC5;
    -webkit-box-shadow: inset 0 0 5px #118AC5;
    box-shadow:         inset 0 0 15px #118AC5;
    */
}

.i::before, input[type="checkbox"] ~ .checkimg, .selectimg{
    background:url(/images/icons/FFFFFF/095980/icons.svg) no-repeat;
    background-size: 8em 36em;
}

.assetImg {
    vertical-align:bottom;
}
/*

*******************************

end of colour stylng

*******************************

*/

.bf-l:focus, input[type="checkbox"].bf-l:focus~.checkbg, .bf-l, input[type="checkbox"].bf-l~.checkbg, input.bf-l {
    border-left:0;
}
.bf-r:focus, input[type="checkbox"].bf-r:focus~.checkbg, .bf-r, input[type="checkbox"].bf-r~.checkbg, input.bf-r  {
    border-right:0;
}
.bf-t:focus, input[type="checkbox"].bf-t:focus~.checkbg, .bf-t, input[type="checkbox"].bf-t~.checkbg, input.bf-t  {
    border-top:0;
}
.bf-b:focus, input[type="checkbox"].bf-b:focus~.checkbg, .bf-b, input[type="checkbox"].bf-b~.checkbg, input.bf-b  {
    border-bottom:0;
}

/*.checkbox {
    text-align:left;
    padding-left:0.5em;
}*/

select {
    padding-left:1em;
}

/*button:hover, select:hover, input[type="checkbox"]:hover, input[type="text"]:hover, input[type="password"]:hover, .ux:hover, [class*='ux-']:hover, .t-a:hover{
    background-color: #118AC5;
    color:#FFF;
}*/


/*option:hover {
    background-color:#118AC5;
    color:#FFF;
}*/

/*.ux-p, .ux-p:hover  {
    background-color:#118AC5;
    color:#FFF;
}*/

/* borders */

.b, [class*='b-']{
    border:0.08em solid white;
}

/* no top border */

.b-t{
    border-top:0;
}

/* no bottom border */

.b-b{
    border-bottom:0;
}

.b-l{
    border-left:0;
}

.b-r{
    border-right:0;
}

/*tabs*/

.t-b {
    /*background-color:#118AC5;*/
    height:0.35em;
    margin-top:-0.08em;
}
.t-a, .m-a {
    overflow: hidden;
    /*border-radius:30px 30px 0 0;*/
    /*background-color: #E5EEF3;*/
}
/*.t-s {
    background-color:#118AC5;
    color:#FFF;
}*/
.t-c-s {
    display:block;
    opacity:1;
}
.t-h, .m-h {
    clear:both;
    position:relative;
}

/* icons */

.i::before
/*, input[type="checkbox"] ~ .checkimg*/
{
    content: "";
    position:relative;
    margin-top:-0.2em;
    width:2em;
    height:2em;
    font-size: inherit;
}

.save::before {
    background-position:0 -18em;
}

.login::before, .dropdownDown>button.login:hover::before {
    background-position:0 -10em;
}

.loggedIn::before, .dropdownDown>button.loggedIn:hover::before {
    background-position:0 -12em;
}

.undo::before {
    background-position:0 -16em;
}

.redo::before {
    background-position:0 -14em;
}

.close::before {
    background-position:0 -30em;
}

.info::before {
    background-position:0 -34em;
}

.add::before
, .dropdownDown>button.add:hover::before
, .t-button.add:hover::before
{
    background-position:0 -26em;
}
.remove::before {
    background-position:0 -28em;
}
.delete::before {
    background-position:0 -32em;
}

.refresh::before {
    background-position:0 -24em;
}

input[type="checkbox"] ~ .checkimg{
    background-position: -2em -2em;
}

input[type="checkbox"]:checked ~ .checkimg{
    background-position: -2em -4em;
}

.accordian:before {
    background-position:0 -22em;
}

.accordian.ux-accordianSelected:before{
    background-position:0 -20em;
}

.save:hover::before {
    background-position:-2em -18em;
}

.login:hover::before {
    background-position:-2em -10em;
}
.loggedIn:hover::before {
    background-position:-2em -12em;
}

/*
.login.ux-accordianSelected:hover::before {
    background-position:0 -10em;
}*/

.undo:hover::before {
    background-position:-2em -16em;
}
.redo:hover::before {
    background-position:-2em -14em;
}
.add:hover::before {
    background-position:-2em -26em;
}
.remove:hover::before {
    background-position:-2em -28em;
}
.delete:hover::before {
    background-position:-2em -32em;
}
.refresh:hover::before {
    background-position:-2em -24em;
}
input[type="checkbox"]:hover ~ .checkimg,  input[type="checkbox"]:focus ~ .checkimg{
    background-position: 0 -2em;
}

input[type="checkbox"]:hover:checked ~ .checkimg, input[type="checkbox"]:checked:focus ~ .checkimg  {
    background-position: 0 -4em;
}

.accordian:hover:before {
    background-position:-2em -22em;
}

.accordian.ux-accordianSelected:hover:before {
    background-position:0 -20em;
}

/* vertical grid */

.v-max {
    height:100%;
}

.v-1 {
    height:3.5em;
}

.v-2 {
    height:7em;
}

.editorholder {
    width:100%;
    float:left;
    clear:both;
    overflow:hidden;
    /*position:relative;*/
    
}

.editholder {
    /*position:absolute;
    z-index: 9999;
    top:0;
    left:300px;
    width: 100%;
    */
}

h2 {
    padding-top:20px;
    margin:20px 0 20px 0;
    font-size:1.5em;
    font-weight:bold;
    clear:both;
}

.ide {
    clear:both;
    /*display:none;*/
}

/* alert box */
.blocker {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
    background-color:#FFF;
}

.alertHolder {
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position:fixed;
    left:0;
    top:0;
}
.alertMiddle {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.alert {
    display: inline-block;
    vertical-align: top;
    /*box-shadow: 0 2px 10px #888888;*/
}
.alertBox{
    max-height:90%;
    padding: 0;
}
.alertText {
    padding:1em;
    max-height:80vh;
    overflow:auto;
}
.page, .page:hover {
    border-top:0.2em solid #06960e;
}
.module, .module:hover {
    border-top:0.2em solid #ff8300;
}
.template, .template:hover {
    border-top:0.2em solid #bf2c17;
}
@media only screen and (min-width : 320px){

/*editor CSS*/ 
.dropdown {
    top:-3.6em;
    height:0;
}


}

@media only screen and (min-width : 1024px){

.i::before
/*, input[type="checkbox"] ~ .checkimg*/{

    margin-right:0.25em;
    margin-left:0.25em;

}

}
