/* loader */

.l {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position:absolute;
  left:0;
  top:0;
  background-color:#FFF;
  z-index:1;
}

.l-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin:0 auto;
  width:3.61em;
  height:1.2em;
}

.l-full {
    height: 4.5em;
}

.l-box > div {
  width: 1em;
  height: 1em;
  border-radius:100%;
  background-color: #118AC5;
  margin:0 auto;
  margin:0.1em;
  float:left;
  -webkit-animation: bounce 1.4s infinite ease-in-out both;
  animation: bounce 1.4s infinite ease-in-out both;

}

.l-max{
    /*height:100%;*/
    width:100%;
}

.l-box .l-obj1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.l-box .l-obj2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-0.9em);}
    60% {transform: translateY(0.9em);}
} 

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-0.9em);}
    60% {-webkit-transform: translateY(0.9em);}
} 