form .ux-form-validate, input[type=text].ux-form-validate {
    border-color:red;
    
}
form .ux-form-validate-rules {
    border: none;
    padding: 0;
    
}

form .form-validate-rules-container {
    border-width: 0;
    position:relative;
        height: 100%;
}

form .ux-form-validate-info, form .ux-form-validate-info:hover {

    border-color:red;
    background-color:red;
    color: #FFF;
}

form .ux-form-validate-rules-text {
        padding: 0.55em;
        border-color: red;
        border-top: none;
}

form .ux-form-validate-rules-text::before {
    content: none;
}