.login {
   /* width:256px;
    float:right;*/
}
#captchaimg {
    width:100%;
    height:100%;
    max-height:100%;
    max-width:100%;
}

#authenticate {
    /*position:absolute;*/
    width:100%;
    left:0;
    top:51px;
    box-sizing:border-box;
}

#authenticateholder{
    /*height:100%;
    width:100%;
    position:relative;
    background-color:#FFF;
    box-sizing: border-box;
    /*float:right;
/*z-index:1;*/
    
}

@media only screen and (min-width : 480px){


#g-recaptcha {
        margin: 1px;
    }

}

@media only screen and (min-width : 1024px){

/*@media(max-width: 390px) {
    #g-recaptcha {
        margin: 1px;
    }
}*/

}
